<div id="<%= dom_id passagetype %>">
  <p>
    <strong>nom de type de passage:</strong>
    <%= passagetype.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= passagetype.content %>
  </p>

</div>
