<% content_for :title, "Editing passagetype" %>

<h1>Editing passagetype</h1>

<%= render "form", passagetype: @passagetype %>

<br>

<div>
  <%= link_to "Show this passagetype", @passagetype %> |
  <%= link_to "Back to passagetypes", passagetypes_path %>
</div>
