<% content_for :title, "Editing passage" %>

<h1>Editing passage description</h1>

<%= render "editdescriptionform", passage: @passage %>

<br>

<div>
  <%= link_to "Show this passage", @passage %> |
  <%= link_to "Back to passages", passages_path %>
</div>

